/*estilo al body*/
body {
  margin: 0;
}

/*estilo al header*/
header {
  background: #6ad2f3;
  height: 50px;
  margin-top: 0;
  }

h1 {
  color: white;
  font-family: cursive;
  margin-top: 0;
  text-align: center;
  }

/*estilo al main*/
main {
  background-image: url(../assets/fondo_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  margin: 0;
}

.box-left {
  background: white;
  display: inline-block;
  font-family:monospace;
  height: 30%;
  margin: 1% 6%;
  padding-left: 20px;
  width: 40%;
}

.box-left :nth-child(1){
  font-size: 15px;
  padding-top: 20px;
}

.box-left :nth-child(4){
  color:#0080ff;
  padding-top: 30px;
}

#myForm {
  background: white;
  display: inline-block;
  height: 30%;
  margin-top: 1%;
  vertical-align: top;
  width: 40%;
}

/*estilo al textArea*/
#text {
  height: 70%;
  border: none;
  box-sizing: border-box;
  font-family:monospace;
  padding-left: 10px;
  width: 100%;
}

/*estilo al boton twitter*/
#button {
  background: #6ad2f3;
  color: white;
  font-family: cursive;
  height: 35px;
  margin-left: 10px;
  width: 90px;
}

/*estilo al mensaje añadido debajo*/
.message {
  background: white;
  border-radius: 5px;
  display: block;
  font-family:monospace;
  height: 8%;
  margin: 1% 6%;
  width: 1165px;
}

/*estilo al contador de caracteres*/
#contador {
  color:black;
  display: inline-block;
  float: right;
  height: 25px;
  margin-right: 20px;
  width: 30px;
}
